body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#editor, #parser, #app {
    display: none;
    margin-top: 80px;
}

#homepage {
    margin-top: 80px;
}

#homepage button {
    margin: auto;
    display: block;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

#toolbar {
    display: block;
    position: fixed;
    width: 300px;
    top: 60px;
    right: 20px;
}

#svgpanel {
    min-width: 900px;
    max-width: 80%;
    overflow: scroll;
}

#svgpanel::-webkit-scrollbar {
    display: none;
}

#toolbar label {
    display: block;
    padding: 5px;
    background-color: rgb(197, 245, 245);
    border-bottom: solid 1px rgb(192, 211, 218);
}

#toolbar textarea {
    width: 100%;
    border: none;
}

 .mainbutton {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#inputs, #output {
    width: 100%;
    border: solid 1px rgb(192, 211, 218);
    height: 30px;
    padding-left: 5px;
}

#output {
    margin-bottom: 20px;
}

.labelinput {
    margin-top: 20px;
}

#entityName {
    width: 70%;
    height: 30px;
}

#addEntity {
    width: 25%;
    height: 30px;
}

#waitingTime {
	width: 100%;
	height: 30px;
}

.clickable {
    cursor: pointer;
}


nav#navpage {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 40px;
	margin: 0;
	background-color: rgb(184, 218, 247);
}

nav#navpage a {
	width: 150px;
	height: 100%;
	display: block;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	cursor: pointer;
}

nav#navpage a:hover {
	background-color: rgb(188, 208, 250);
}

nav#navpage a.selected {
	background-color: rgb(174, 198, 250);
}

.event-col {
	min-width: 300px;
}

.bet-col, .odds-col, .result-col {
	min-width: 140px;
}


#app h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

#app .sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
#app .gwt-DialogBox {
  width: 400px;
}

#app .dialogVPanel {
  margin: 5px;
}

#app .serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#app #closeButton {
  margin: 15px 6px 6px;
}

